<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaseIt - Code Explaination</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../css/styles.css">
</head>
{{!-- <body>
    <!-- navbar -->
    <nav>
    
            <!-- img for logo -->
            <p><img src="" alt="">Logo</p> 
            <p>EaseIt</p>
            <p>profile</p>
            <p>logout</p>
            <a href="/homepage">back</a>
        
    </nav>

    <!-- top title -->
    <div>
        <h1>Code Explanation</h1>
        <p>Enter the whole code and get a detailed explanation for the same </p>
    </div>

    <!-- input  -->
    <div>
        <form method="post" action="/codeexplanation">
            <label for="inputCode">Enter your code here</label><br>
            <textarea name="inputCode" id="" cols="30" rows="10" required >></textarea>

            <button type="submit">Debug</button>
        </form> 
    </div>

    {{{body}}}


    <script src="../../app.js"></script>
    <script defer src="../../public/js/aiCall.js"></script>

</body> --}}

<body class="mb-56">
<!-- Navbar -->
<nav class="flex w-screen justify-center items-center text-center pt-10 bg-grey">
  <!-- Flex Container -->
  <div class="inline-flex items-center justify-between space-x-9">
    <!-- logo -->
    <a href="/" class="text-cyan-300 text-right" style="font-size:1.5rem" > ← </a>
    <img src="../img/openai-logo.svg"  class= "pt-px" alt="">
    <!-- Links -->
    
    <a href="/" class="font-extrabold text-transparent text-2xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">EaseIt</a>
    <a href="" class=" text-white">Profile</a>
    <a href="" class=" text-white">Logout</a>
    
  </div>
</nav>

<!-- Page Topic -->
<section id="personalisedMessage">
  <div class="content justify-center text-center pt-10 mt-10">
    <h1 class="font-extrabold text-transparent text-5xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
      Code Explaination
    </h1>
    <p class="text-xl text-white pt-6 max-w-sm mx-auto">
      Enter the whole code and get a detailed explanation for the same 
    </p>
  </div>
</section>

<section id="getAnswer">
  <!-- flex-row division -->
  <div class="flex flex-row mt-24 space-x-32 justify-center">
    <!-- message -->
    <div class = "text-white">
      <div>
        <form method="post" action="/codeexplanation">
            <label for="" style="font-size: 1.5rem; font-weight:large; color: white">Enter your code here</label><br>
            <textarea  placeholder="type here" name="inputCode"required id="" cols="60" rows="20" class="bg-transparent  text-white rounded-lg" style="padding: 5px;" ></textarea><br>
            <button type="submit" class="bg-transparent border-gray-400 text-white text-cyan-300 pl-24 pt-7 text-2xl">Explain →</button>
        </form>
    </div>
  </div>

  <div>
    <label for="" style="color:white;font-size: 1.5rem; font-weight:large;">{{label}}</label><br>
    <textarea style="padding: 5px;"placeholder="answer will appear here" name="" id="" cols="60" rows="20" class="bg-transparent  text-white rounded-lg" >{{data}}</textarea>
  </div>

  </div>
</section>

<script src="../../app.js"></script>
<script defer src="../../public/js/aiCall.js"></script>


</body>
</html>