<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EaseIt - Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,300&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body  style="padding-bottom: 4rem;">

    <!-- Navbar -->
    <nav
      class="flex w-screen justify-center items-center text-center pt-10 bg-grey"
    >
      <!-- Flex Container -->
      <div
        class="inline-flex items-center justify-between space-x-9 bg-transparent py-4 px-20 rounded-2xl bg-black/10"
      >
        <!-- logo -->
        <img src="../img/openai-logo.svg" class="pt-px" alt="" />
        <!-- Links -->
        <a
          href="/homepage"
          class="font-extrabold text-transparent text-2xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
        >
          EaseIt
        </a>
        {{!-- <a href="" class="text-white">Profile</a> --}}
        {{!-- <a href="" class="text-white">Logout</a> --}}

      </div>
    </nav>

    <!-- Cards -->
    <section id="cards">

      <!-- maindiv 2 groups each col wise -->
      <div class="flex flex-col pt-14">

        <!-- groups row wise -->
        <div class="flex flex-row justify-center space-x-32">

          <!-- card 1 -->
          <div class="p-8 card flex bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80 " style="height: 250px;">
              
                <a href="/debugcode" class="fill-div">
              <h2 class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4">Developers</h2>
              <p class="text-white w-80 p-4 text-xl">Debug your code, get proper explanation and generate Github readme from code</p>
                </a>
            
          </div>
         

          <!-- card 2 -->
          <div class="p-8 card flex bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80 " style="height: 250px;">
              
                <a href="/poetry" class="fill-div">
              <h2 class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4">Artists</h2>
              <p class="text-white w-80 p-4 text-xl">Create songs, build stories, poetry and much more</p>
                </a>
           
          </div>

        </div>

        <!-- groups row wise -->
        <div class="flex flex-row pt-14 justify-center space-x-32">

          <!-- card 3 -->
          <div class="p-8 card flex bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80 " style="height: 280px;">
             
                <a href="/dietchart" class="fill-div">
              <h2 class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4">Fitness Freaks</h2>
              <p class="text-white w-80 p-4 text-xl">Get your customised diet chart and workout plan</p>
                </a>
            
          </div>

          <!-- card 4 -->
          <div class="p-8 card flex bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80 " style="height: 280px;">
              
                <a href="/messages" class="fill-div">
              <h2 class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4">Working Professionals</h2>
              <p class="text-white w-80 p-4 text-xl">Generate personalised reply to messages, different types of letters and much more</p>
                </a>
            
          </div>


         
        </div>

        <!-- groups row wise -->
        <div class="flex flex-row pt-14 justify-center space-x-32">

          <!-- card 5 -->
          <div class="p-8 card flex bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80 " style="height: px;">
              
                <a href="/ama" class="fill-div">
              <h2 class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4">Ask Me Anything</h2>
              <p class="text-white w-80 p-4 text-xl">Could not find your niche, ASK ME ANYTHING!</p>
                </a>
            
          </div>


          

          <!-- card 6 -->
          {{!-- <div
            class="bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-76"
          >
            <div class="p-8">
              <h2
                class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4"
              >Image Generator</h2>
              <p class="text-white p-4 text-xl w-80">Enter the whole code and
                get a detailed explanation for the same</p><br /><br />
              <a
                href="/codeexplanation"
                class="max-w-fit text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400 p-4 w-full text-xl font-bold"
              >Enter the code →</a>
            </div>
          </div>
        </div> --}}

      </div>
    </section>

    <script src="../../app.js"></script>
    <script defer src="../../public/js/promptCall.js"></script>

  </body>
</html>