<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EaseIt - Home</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,300&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>

  <body>

    <!-- Navbar -->
    <nav
      class="flex w-screen justify-center items-center text-center pt-10 bg-grey"
    >
      <!-- Flex Container -->
      <div
        class="inline-flex items-center justify-between space-x-9 bg-transparent py-4 px-20 rounded-2xl bg-black/10"
      >
        <!-- logo -->
        <img src="../img/openai-logo.svg" class="pt-px" alt="" />
        <!-- Links -->
        <a
          href="/"
          class="font-extrabold text-transparent text-2xl bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
        >
          EaseIt
        </a>
        <a href="" class="text-white">Profile</a>
        <a href="" class="text-white">Logout</a>

      </div>
    </nav>

    <!-- Cards -->
    <section id="cards">

      <!-- maindiv 2 groups each col wise -->
      <div class="flex flex-col pt-14">

        <!-- groups row wise -->
        <div class="flex flex-row justify-center space-x-32">

          <!-- card 1 -->
          <div
            class="bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80"
          >
            <div class="p-8">
              <h2
                class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4"
              >Personalised Message</h2>
              <p class="text-white w-72 p-4 text-xl">Just enter your message,
                tone of your message, language and other prompts and get a
                personalised message</p><br /><br />
              <a
                href="/messages"
                class="max-w-fit text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400 p-4 w-full text-xl font-bold"
              >Create a Personalised message →</a>
            </div>
          </div>

          <!-- card 2 -->
          <div
            class="bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-80"
          >
            <div class="p-8">
              <h2
                class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4 w-full"
              >Diet Chart</h2>
              <p class="text-white p-4 w-80 text-xl">Enter your caloric intake,
                amount of carbs, proteins and fats and get your diet chart</p><br
              /><br />
              <a
                href="/dietchart"
                class="max-w-fit text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400 p-4 w-full text-xl font-bold"
              >Get your diet chart →</a>
            </div>
          </div>
        </div>

        <!-- groups row wise -->
        <div class="flex flex-row pt-14 justify-center space-x-32">

          <!-- card 3 -->
          <div
            class="bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-76"
          >
            <div class="p-8">
              <h2
                class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4 w-full"
              >Debug Code</h2>
              <p class="text-white p-4 w-80 text-xl">Enter the whole code and
                get the debugged code
              </p><br /><br /><br />
              <a
                href="/debugcode"
                class="max-w-fit text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400 p-4 w-full text-xl font-bold"
              >Debug now →</a>
            </div>
          </div>

          <!-- card 4 -->
          <div
            class="bg-black/20 shadow-md backdrop-blur-sm rounded-2xl w-4/12 h-76"
          >
            <div class="p-8">
              <h2
                class="max-w-fit font-extrabold text-transparent text-4xl bg-clip-text bg-gradient-to-r from-orange-600 via-red-500 via-pink-500 via-purple-500 to-blue-600 p-4"
              >Code Explanation</h2>
              <p class="text-white p-4 text-xl w-80">Enter the whole code and
                get a detailed explanation for the same</p><br /><br />
              <a
                href="/codeexplanation"
                class="max-w-fit text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400 p-4 w-full text-xl font-bold"
              >Enter the code →</a>
            </div>
          </div>
        </div>

      </div>
    </section>

    <script src="../../app.js"></script>
    <script defer src="../../public/js/aiCall.js"></script>

  </body>
</html>