{{> header}}

    <!-- navbar -->
    <nav>
    
            <!-- img for logo -->
            <p><img src="" alt="">Logo</p> 
            <p>EaseIt</p>
            <p>profile</p>
            <p>logout</p>
        
    </nav>

    <!-- cards -->
    <div>
        <div>
            <h1>Personalised Message</h1>
            <p>Just enter your message, tone of your message, language and other prompts and get a personalised message</p>
            <a href="/messages">Create a personalised message-></a>
        </div>
        <div>
            <h1>Diet  Chart</h1>
            <p>Enter your caloric intake, amount of carbs, proteins and fats and get your diet chart</p>
            <a href="/dietchart">Get your diet chart-></a>
        </div>
    </div>

    <div>
        <div>
            <h1>Debug Code</h1>
            <p>Enter the whole code and get the debugged code </p>
            <a href="/debugcode">Debug now-></a>
        </div>
        <div>
            <h1>Code  Explanation</h1>
            <p><Enter the whole code and get a detailed explanation for the same /p>
            <a href="/codeexplanation">Enter the code-></a>
        </div>
    </div>

    <script src="../../app.js"></script>
    <script defer src="../../public/js/aiCall.js"></script>


{{> footer}}